*{ 
    font-family: 'Source Sans Pro', sans-serif; 
    } 
    
.post{ 
    margin-top: 15px; 
    margin-bottom: 15px; 
    margin-right: 15px; 
    margin-left: 15px; 
    } 
    
body{ 
    border: 2px solid #bdc7cf; 
    } 
    
h2{ 
    color: #354b63; 
    } 
    
.date{ 
    text-transform: uppercase; 
    color: #3098dd; 
    letter-spacing: 1.5px; 
    }
